{% extends 'base.html' %}
{% block content %}

<div class="container-fluid main-home">
    <div class="favorites-card">
    {% if recipes %}
        <h1>My Favorite Recipes</h1>
        <div class="recipes user-recipes" id="fav-recipes">
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-12 col-md-6 col-lg-4 col-xxl-3">
                        <div class="card">
                            <a href="/recipes/{{recipe.id}}" class="details">
                                <h6 class="card-title">{{ recipe.title }}</h6>  
                                <img src="{{recipe.image}}" alt="" class="card-img-top">
                            </a>
                            <form action="" method="POST" id="delete-btn">
                                <button class="side-btn">
                                    <input type="integer" name="rec_to_delete" hidden value="{{recipe.id}}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </div>  
                    </div>   
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>No recipes added yet.</h1>
    {% endif %}
</div>
</div>
{% endblock %}