{% extends 'base.html' %}
{% block content %}

<div>
    <div>
        <img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="avatar" height="80px">
        <h1>{{ user.username }}</h1>
    </div>
    <div class="recipes user-recipes">
        <h2>Today's pick:</h2>
        <ul>
            {% for recipe in recipes %}
                <a href="/recipes/{{recipe.id}}">
                    <h3>{{ recipe.title }} <b>{{ recipe.healthScore }}</b></h3>
                    <img src="{{recipe.image}}" alt="">
                    <form action="" method="POST" id="save-btn">
                        <input type="integer" hidden name="rec_to_save" value="{{recipe.id}}">
                        <button><i class="fas fa-heart" style="color:red"></i></button>
                    </form>   
                </a>
             {% endfor %}
        </ul>
    </div>

    <div class="search">
        <h5>What's in your fridge?:</h5>
        <form class="form-inline my-2 my-lg-0" action="">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Enter ingredients separated with commas" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find Recipes</button>
      </form>
    </div>
    
    
    <div class="prferences">
        
        {% if prefs.diet %}
            <h5>Prefered Diet:</h5>
            {% for d in prefs.diet %}
                <li>{{ d }}</li>
            {% endfor %}
        {% endif %}
        {% if prefs.intolerances %}
            <h5>Allergies:</h5>
            {% for i in prefs.intolerances %}
                <li>{{ i }}</li>
            {% endfor %}
        {% endif %}
        {% if prefs.cuisine %}
            <h5>Prefered Cuisine:</h5>
            {% for c in prefs.cuisine %}
                <li>{{ c }}</li>
            {% endfor %}
        {% endif %}

        {% if prefs.excludeIngredients %}
            <h5>Exclude:</h5> 
            {% for e in prefs.excludeIngredients %}
                <li>{{ e }}</li>
            {% endfor %}
        {% endif %}
    </div>
    <div class="search">
        <div class="by_dish">
            Search field by dish: TBD
        </div>
        <div class="by_product">
            Search field by product: TBD
        </div>
    </div>
    
</div>
{% endblock %}